<!DOCTYPE html>
<html>
<head>
    <title>{{ current_folder }} - 共享文件夹</title>
</head>
<body>
    <h1>{{ current_folder }}</h1>

    <h2>文件列表</h2>
    <ul>
		<li><a href="{{ url_for('index') }}">..</a></li>
        {% for subfolder in subfolders %}
            <li><a href="{{ url_for('show_folder', folder=current_folder + '/' + subfolder) }}">{{ subfolder }}</a></li>
        {% endfor %}

        {% for file in files %}
            <li><a href="{{ url_for('download', filename=current_folder + '/' + file) }}">{{ file }}</a></li>
        {% endfor %}
    </ul>

    <h2>上传文件</h2>
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="text" name="folder" value="{{ current_folder }}" readonly>
        <button type="submit">上传</button>
    </form>
</body>
</html>
